<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google" value="notranslate">
    <link rel="shortcut icon" href="static/favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <script>
      /* Codabloc sys info at build time */
      window.codablocSysInfo = <%= htmlWebpackPlugin.options.codablocSysInfoJS %>;
    </script>
  </head>
  <body>
  </body>
</html>
