@import "../../../css/colors.css";
@import "../../../css/units.css";
@import "../../../css/typography.css";
@import "../../../css/z-index.css";

/* from scratch-www */
$active-gray: hsla(0, 0%, 0%, 0.1);
$ui-blue-10percent: hsla(215, 100%, 65%, 0.1);
$ui-blue-25percent: hsla(215, 100%, 65%, 0.25);
$ui-gray: hsla(0, 0%, 95%, 1);

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-index-modal;
    background-color: $ui-modal-overlay;
    max-height: 100vh;
    overflow-y: auto;
}

.modal-content {
    margin: 100px auto;
    outline: none;
    border: 0.25rem solid $ui-white-transparent;
    padding: 0;
    border-radius: $space;
    user-select: none;
    width: 640px;

    color: $text-primary;
    overflow: hidden;
}

.illustration {
    width: 100%;
    height: 80px;
    line-height: 80px;
    background-color: $control-primary;
    background-size: cover;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.body {
    background: $ui-white;
    padding: 1.5rem 2.25rem;
}

@media screen and (max-height: 660px) {
    .modal-content {
        margin: 5vh auto;
        width: 90%;
    }
}

@media screen and (max-height: 540px) {
    .illustration {
        display: none;
    }
}
