@import "../../../css/colors.css";
@import "../../../css/units.css";

.modal-content {
    width: 480px;
}

.header {
    background-color: $pen-primary;
}

.body {
    background: $ui-white;
}

.label {
    font-weight: 500;
    margin: 0 0 0.75rem;
}

.centered-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.activityArea {
    min-height: 80px;
    background-color: $looks-light-transparent;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.button-row {
    font-weight: bolder;
    text-align: center;
    display: flex;
}

.ok-button {
    padding: 0.6rem 0.75rem;
    border-radius: 0.5rem;
    background: $motion-primary;
    color: white;
    font-weight: 600;
    font-size: 0.85rem;
    margin: 0.25rem;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.ok-button:disabled {
    background: $looks-transparent;
}

[dir="ltr"] .button-icon-right {
    margin-left: 0.5rem;
}
[dir="rtl"] .button-icon-right {
    margin-right: 0.5rem;
}

[dir="ltr"] .button-icon-left {
    margin-right: 0.5rem;
}

[dir="rtl"] .button-icon-left {
    margin-left: 0.5rem;
}

/* reverse back arrow icon for RTL, don't reverse other connection icons */
[dir="rtl"] .button-icon-back {
    transform: scaleX(-1);
}

.red-button {
    background: $red-primary;
}

.corner-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 1rem;
}

.bottom-area {
    background-color: $ui-white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 0.75rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.bottom-area .bottom-area-item + .bottom-area-item {
    margin-top: 1rem;
}
