@import "../../css/colors.css";
@import "../../css/units.css";
@import "../../css/z-index.css";

.menu-bar-logo {
    font-size: 1.6em;
}

.menu-bar-student-name {
    border-radius: 0.25rem;
    border: 1px solid $ui-white;
    padding: 0.4rem 1.2rem;
    margin-left: 1.25rem;
}
